/* Import Tailwind's default base, components, and utilities */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom Variables */
:root {
  /* Fonts */
  --main: "Instrument Serif", sans-serif;
}

/* Normalize + Antialias */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fafff3;
  background: #1a2209;
}

::selection {
  color: #fafff3;
  background: #1a2209;
}

/* Font Application */
body {
  height: 100%;
  position: relative;
}

/* Scrollbar (WebKit) */
body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #fafff3;
}
body::-webkit-scrollbar-thumb {
  background-color: #1a2209;
  border-radius: 3rem;
}

/* Text + Links */
a,
p,
ul li {
  text-decoration: none;
  font-size: 14px;
  color: var(--text);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main);
  color: var(--primary);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
}
